body {
    padding: 0;
    margin: 0;
    font-family: helvetica;

}

#header {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 500;
    width: 100%;
    height: 80px;
    background-image: url("/pineCityZoo/images/wood-bg.png");
    background-repeat: repeat;

}